<!DOCTYPE html>
<html>
	<head>
		<title>Glidewell Memphis Dashboard</title>
		<link
			rel="icon"
			type="image/x-icon"
			href="./Dashboard - Testing/Test_Version1/favicon.ico" />
		<style>
			.create-job-button {
			   margin-bottom: 10px;
			 }

			.actions-button {
			   display: flex;
			   justify-content: space-between;
			 }

			.update-btn {
			   background-color: #4CAF50;
			   color: white;
			 }

			.delete-btn {
			   background-color: #f44336;
			   color: white;
			 }

			.read-form-container {
			   margin-bottom: 20px;
			 }

			.read-form-container label {
			   display: inline-block;
			   width: 120px;
			 }

			.read-form-container input[type="text"] {
			   width: 200px;
			 }

			.read-form-container button {
			   margin-top: 10px;

			th {
				font-weight: bold;
			}

			table {
				border-collapse: collapse;
				width: 100%;
			}

			th,
			td {
				flex: 1;
				border: 5px solid rgb(103, 6, 6); /* Updated to red color */
				padding: 5px;
				display: center;
			}

			th {
				flex: 1;
				font-weight: bold;
				color: white;
				background-color: rgb(102, 6, 6);
				display: center;
			}

			th:nth-child(3),
			th:nth-child(4),
			th:nth-child(5),
			th:nth-child(6),
			th:nth-child(12) {
				width: 100px;
			}

			/* Added CSS for sidebar */
			.sidebar {
				width: 200px;
				height: 100vh;
				position: fixed;
				top: 0;
				left: 0;
				background-color: #f1f1f1;
				padding: 20px;
			}

			.sidebar a {
				display: block;
				padding: 10px 0;
				text-decoration: none;
				color: #333;
			}

			.sidebar a.active {
				font-weight: bold;
				color: #000;
			}
		</style>
		<!-- Added Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="sidebar">
			<a class="active" href="#mongodb" onclick="switchTab('mongodb')"
				>MongoDB</a
			>
			<a href="#sqlite" onclick="switchTab('sqlite')">SQLite</a>
		</div>
		<div class="container-fluid" style="margin-left: 220px">
			<h1>Process Information</h1>
			<!-- Create Job Form -->
			<div class="form-container">
				<h2>Create Job</h2>
				<!-- Flash message for successful data entry -->
				{% with messages = get_flashed_messages(with_categories=true) %} {% for
				category, message in messages %} {% if category == 'success' %}
				<div class="alert alert-success" role="alert">{{ message }}</div>
				{% endif %} {% endfor %} {% endwith %}

				<!-- Flash message for failed data entry -->
				{% with messages = get_flashed_messages(with_categories=true) %}

				<form action="{{ url_for('create') }}" method="POST">
					<label for="etype">EType:</label>
					<input type="number" id="etype" name="etype" required /><br />

					<label for="job_id">Id:</label>
					<input type="number" id="job_id" name="job_id" required /><br />

					<label for="fb">Fb:</label>
					<input type="number" id="fb" name="fb" required /><br />

					<label for="p1">P1:</label>
					<input type="text" id="p1" name="p1" required /><br />

					<label for="p2">P2:</label>
					<input type="text" id="p2" name="p2" required /><br />

					<label for="p3">P3:</label>
					<input type="text" id="p3" name="p3" required /><br />

					<label for="p4">P4:</label>
					<input type="text" id="p4" name="p4" /><br />

					<label for="p5">P5:</label>
					<input type="text" id="p5" name="p5" /><br />

					<label for="p6">P6:</label>
					<input type="text" id="p6" name="p6" /><br />

					<label for="p7">P7:</label>
					<input type="text" id="p7" name="p7" /><br />

					<label for="p8">P8:</label>
					<input type="text" id="p8" name="p8" /><br />

					<label for="p9">P9:</label>
					<input type="text" id="p9" name="p9" required /><br />

					<label for="p10">P10:</label>
					<input type="text" id="p10" name="p10" /><br />

					<label for="p11">P11:</label>
					<input type="number" id="p11" name="p11" /><br />

					<label for="p12">P12:</label>
					<input type="number" id="p12" name="p12" /><br />

					<label for="p13">P13:</label>
					<input type="number" id="p13" name="p13" /><br />

					<label for="p14">P14:</label>
					<input type="number" id="p14" name="p14" /><br />

					<label for="p15">P15:</label>
					<input type="number" id="p15" name="p15" /><br />

					<label for="p16">P16:</label>
					<input type="number" id="p16" name="p16" /><br />

					<label for="p17">P17:</label>
					<input type="number" id="p17" name="p17" /><br />

					<label for="p18">P18:</label>
					<input type="number" id="p18" name="p18" /><br />

					<label for="p19">P19:</label>
					<input type="number" id="p19" name="p19" /><br />

					<label for="p20">P20:</label>
					<input type="number" id="p20" name="p20" /><br />

					<button type="submit" class="create-job-button">Create Job</button>
				</form>
			</div>

			<!-- Read Job Form -->
			<div class="read-form-container">
				<h2>Read Job</h2>
				<form action="{{ url_for('read') }}" method="POST">
					<label for="fb">Fb:</label>
					<input type="text" id="fb" name="fb" required /><br />

					<label for="p1">P1:</label>
					<input type="text" id="p1" name="p1" required /><br />

					<label for="p2">P2:</label>
					<input type="text" id="p2" name="p2" required /><br />

					<label for="p3">P3:</label>
					<input type="text" id="p3" name="p3" required /><br />

					<button type="submit">Read Job</button>
				</form>
			</div>

			<table id="table-mongodb" style="display: block">
				<thead>
					<tr>
						<th>#</th>
						<th>EType</th>
						<th>ID</th>
						<th>Fb</th>
						<th>P1</th>
						<th>P2</th>
						<th>P3</th>
						<th>P4</th>
						<th>P5</th>
						<th>P6</th>
						<th>P7</th>
						<th>P8</th>
						<th>P9</th>
						<th>P10</th>
						<th>P11</th>
						<th>P12</th>
						<th>P13</th>
						<th>P14</th>
						<th>P15</th>
						<th>P16</th>
						<th>P17</th>
						<th>P18</th>
						<th>P19</th>
						<th>P20</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for row in data_mongodb %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ row['EType'] }}</td>
						<td>{{ row['Id'] }}</td>
						<td>{{ row['Fb'] }}</td>
						<td>{{ row['P1'] }}</td>
						<td>{{ row['P2'] }}</td>
						<td>{{ row['P3'] }}</td>
						<td>{{ row['P4'] }}</td>
						<td>{{ row['P5'] }}</td>
						<td>{{ row['P6'] }}</td>
						<td>{{ row['P7'] }}</td>
						<td>{{ row['P8'] }}</td>
						<td>{{ row['P9'] }}</td>
						<td>{{ row['P10'] }}</td>
						<td>{{ row['P11'] }}</td>
						<td>{{ row['P12'] }}</td>
						<td>{{ row['P13'] }}</td>
						<td>{{ row['P14'] }}</td>
						<td>{{ row['P15'] }}</td>
						<td>{{ row['P16'] }}</td>
						<td>{{ row['P17'] }}</td>
						<td>{{ row['P18'] }}</td>
						<td>{{ row['P19'] }}</td>
						<td>{{ row['P20'] }}</td>
						<td class="actions-button">
							<form action="{{ url_for('update', id=row._id) }}" method="POST">
								<button type="submit" class="update-btn">Update</button>
							</form>
							<form
								action="{{ url_for('delete', Fb=row['Fb']) }}"
								method="POST">
								<button type="submit" class="delete-btn">Delete</button>
							</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<table id="table-sqlite" style="display: none">
				<thead>
					<tr>
						<th>#</th>
						<th>EType</th>
						<th>ID</th>
						<th>Fb</th>
						<th>P1</th>
						<th>P2</th>
						<th>P3</th>
						<th>P4</th>
						<th>P5</th>
						<th>P6</th>
						<th>P7</th>
						<th>P8</th>
						<th>P9</th>
						<th>P10</th>
						<th>P11</th>
						<th>P12</th>
						<th>P13</th>
						<th>P14</th>
						<th>P15</th>
						<th>P16</th>
						<th>P17</th>
						<th>P18</th>
						<th>P19</th>
						<th>P20</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for row in data_sqlite %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ row[1] }}</td>
						<td>{{ row[2] }}</td>
						<td>{{ row[3] }}</td>
						<td>{{ row[4] }}</td>
						<td>{{ row[5] }}</td>
						<td>{{ row[6] }}</td>
						<td>{{ row[7] }}</td>
						<td>{{ row[8] }}</td>
						<td>{{ row[9] }}</td>
						<td>{{ row[10] }}</td>
						<td>{{ row[11] }}</td>
						<td>{{ row[12] }}</td>
						<td>{{ row[13] }}</td>
						<td>{{ row[14] }}</td>
						<td>{{ row[15] }}</td>
						<td>{{ row[16] }}</td>
						<td>{{ row[17] }}</td>
						<td>{{ row[18] }}</td>
						<td>{{ row[19] }}</td>
						<td>{{ row[20] }}</td>
						<td>{{ row[21] }}</td>
						<td>{{ row[22] }}</td>
						<td>{{ row[23] }}</td>
						<td class="actions-button">
							<form action="{{ url_for('update', id=row[0]) }}" method="POST">
								<button type="submit" class="update-btn">Update</button>
							</form>
							<form action="{{ url_for('delete', Fb=row[3]) }}" method="POST">
								<button type="submit" class="delete-btn">Delete</button>
							</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<!-- Added Bootstrap JS and custom JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
		<script>
			function switchTab(tab) {
				const tableMongoDB = document.getElementById("table-mongodb");
				const tableSQLite = document.getElementById("table-sqlite");
				const linkMongoDB = document.getElementById("link-mongodb");
				const linkSQLite = document.getElementById("link-sqlite");

				if (tab === "mongodb") {
					tableMongoDB.style.display = "block";
					tableSQLite.style.display = "none";
					linkMongoDB.classList.add("active");
					linkSQLite.classList.remove("active");
				} else if (tab === "sqlite") {
					tableMongoDB.style.display = "none";
					tableSQLite.style.display = "block";
					linkMongoDB.classList.remove("active");
					linkSQLite.classList.add("active");
				}
			}
		</script>
	</body>
</html>
