<!DOCTYPE html>
<html>
	<head>
		<title>Job Details</title>
		<!-- Add any necessary CSS styling -->
	</head>
	<body>
		<h2>Job Details</h2>

		<h3>MongoDB Data</h3>
		<ul>
			{% if data_mongodb %}
			<li>Fb: {{ data_mongodb['Fb'] }}</li>
			<li>P1: {{ data_mongodb['P1'] }}</li>
			<li>P2: {{ data_mongodb['P2'] }}</li>
			<li>P3: {{ data_mongodb['P3'] }}</li>
			<!-- Add more fields as needed -->
			{% else %}
			<li>No MongoDB data found</li>
			{% endif %}
		</ul>

		<h3>SQLite Data</h3>
		<ul>
			{% if data_sqlite %}
			<li>Fb: {{ data_sqlite[3] }}</li>
			<li>P1: {{ data_sqlite[4] }}</li>
			<li>P2: {{ data_sqlite[5] }}</li>
			<li>P3: {{ data_sqlite[6] }}</li>
			<!-- Add more fields as needed -->
			{% else %}
			<li>No SQLite data found</li>
			{% endif %}
		</ul>
	</body>
</html>
