<!------------------------------------------------------------- Dashboard Template V.1 -------------------------------------------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Memphis Dashboard</title>
		<!--- Bootstrap and Favicon inserted -->
		<link rel="icon" type="image/x-icon" href="./static/images/favicon.ico" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="./static/css/style_dashboard.css" />
	</head>

	<body>
		<div class="app-container">
			<div class="sidebar">
				<div class="sidebar-header">
					<div class="app-icon">
						<link
							rel="icon"
							type="image/x-icon"
							href="./static/images/logo.jpg" />
					</div>
				</div>
				<!-- Sidebar defined -->
				<ul class="sidebar-list">
					<li class="sidebar-list-item">
						<a href="#">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="18"
								height="18"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="feather feather-home">
								<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
								<polyline points="9 22 9 12 15 12 15 22" />
							</svg>
							<span>Database</span>
						</a>
					</li>
					<li class="sidebar-list-item active">
						<a href="#">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="18"
								height="18"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="feather feather-shopping-bag">
								<path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z" />
								<line x1="3" y1="6" x2="21" y2="6" />
								<path d="M16 10a4 4 0 0 1-8 0" />
							</svg>
							<span>Process Information</span>
						</a>
					</li>
					<li class="sidebar-list-item">
						<a href="#">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="18"
								height="18"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="feather feather-pie-chart">
								<path d="M21.21 15.89A10 10 0 1 1 8 2.83" />
								<path d="M22 12A10 10 0 0 0 12 2v10z" />
							</svg>
							<span>Analytics</span>
						</a>
					</li>
					<li class="sidebar-list-item">
						<a href="#">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="18"
								height="18"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="feather feather-inbox">
								<polyline points="22 12 16 12 14 15 10 15 8 12 2 12" />
								<path
									d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z" />
							</svg>
							<span>Task Assignment</span>
						</a>
					</li>
					<li class="sidebar-list-item">
						<a href="#">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="18"
								height="18"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="feather feather-bell">
								<path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9" />
								<path d="M13.73 21a2 2 0 0 1-3.46 0" />
							</svg>
							<span>Help</span>
						</a>
					</li>
				</ul>
				<div class="account-info">
					<div class="account-info-picture">
						<!-- img src="https://images.unsplash.com/photo-1527736947477-2790e28f3443?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE2fHx3b21hbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="Account Picture" / -->
					</div>
					<div class="account-info-name">{{ session.username }}</div>
					<div class="account-info-more">
						<a href="/logout">Logout</a>
					</div>
				</div>
			</div>
			<div class="app-content">
				<div class="app-content-header">
					<h1 class="app-content-headerText">Process Information</h1>
					<button class="mode-switch" title="Switch Theme">
						<svg
							class="moon"
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							width="24"
							height="24"
							viewBox="0 0 24 24">
							<defs></defs>
							<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
						</svg>
					</button>
					<button class="app-content-headerButton">Add Job</button>
				</div>
				<div class="app-content-actions">
					<input class="search-bar" placeholder="Search..." type="text" />
					<div class="app-content-actions-wrapper">
						<div class="filter-button-wrapper">
							<button class="action-button filter jsFilter">
								<span>Filter</span
								><svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="feather feather-filter">
									<polygon
										points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
								</svg>
							</button>
							<div class="filter-menu">
								<label>Category</label>
								<select>
									<option>All Categories</option>
									<option>Machine1</option>
									<option>Machine2</option>
									<option>Machine3</option>
									<option>Machine4</option>
								</select>
								<label>Status</label>
								<select>
									<option>All Status</option>
									<option>Active</option>
									<option>completed</option>
								</select>
								<div class="filter-menu-buttons">
									<button class="filter-button reset">Reset</button>
									<button class="filter-button apply">Apply</button>
								</div>
							</div>
						</div>
						<button class="action-button list active" title="List View">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="feather feather-list">
								<line x1="8" y1="6" x2="21" y2="6" />
								<line x1="8" y1="12" x2="21" y2="12" />
								<line x1="8" y1="18" x2="21" y2="18" />
								<line x1="3" y1="6" x2="3.01" y2="6" />
								<line x1="3" y1="12" x2="3.01" y2="12" />
								<line x1="3" y1="18" x2="3.01" y2="18" />
							</svg>
						</button>
						<button class="action-button grid" title="Grid View">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="feather feather-grid">
								<rect x="3" y="3" width="7" height="7" />
								<rect x="14" y="3" width="7" height="7" />
								<rect x="14" y="14" width="7" height="7" />
								<rect x="3" y="14" width="7" height="7" />
							</svg>
						</button>
					</div>
				</div>
				<!-- Dashboard main interface. Need to update the elements based on the message communication between the HMI and the Cloud -->
				<div class="products-area-wrapper tableView">
					<div class="products-header">
						<div class="product-cell Job ID">
							Job ID<button class="sort-button">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 512 512">
									<path
										fill="currentColor"
										d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
								</svg>
							</button>
						</div>
						<div class="product-cell Case ID">
							Case ID<button class="sort-button">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 512 512">
									<path
										fill="currentColor"
										d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
								</svg>
							</button>
						</div>
						<div class="product-cell Shade">
							Shade<button class="sort-button">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 512 512">
									<path
										fill="currentColor"
										d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
								</svg>
							</button>
						</div>
						<div class="product-cell Status">
							Status<button class="sort-button">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 512 512">
									<path
										fill="currentColor"
										d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
								</svg>
							</button>
						</div>

						<div class="product-cell Controls">
							Controls<button class="sort-button">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 512 512">
									<path
										fill="currentColor"
										d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
								</svg>
							</button>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45678
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>A6667
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade</span>B
						</div>
						<div class="product-cell Status">
							<span class="cell-label">Status</span>
							<span class="status active">Active</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45677
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>B3345
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade:</span>D
						</div>
						<div class="product-cell status-cell">
							<span class="cell-label">Status</span>
							<span class="status active">Active</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45676
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>A6523
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade</span>A
						</div>
						<div class="product-cell Status">
							<span class="cell-label">Status</span>
							<span class="status completed">Completed</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45675
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>B2345
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade:</span>C
						</div>
						<div class="product-cell status-cell">
							<span class="cell-label">Status</span>
							<span class="status active">Active</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45674
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>A6667
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade</span>B
						</div>
						<div class="product-cell Status">
							<span class="cell-label">Status</span>
							<span class="status active">Active</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45673
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>B3475
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade:</span>A
						</div>
						<div class="product-cell status-cell">
							<span class="cell-label">Status</span>
							<span class="status completed">Completed</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45672
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>A4833
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade</span>D
						</div>
						<div class="product-cell Status">
							<span class="cell-label">Status</span>
							<span class="status completed">Completed</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45671
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>B4839
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade:</span>A
						</div>
						<div class="product-cell status-cell">
							<span class="cell-label">Status</span>
							<span class="status active">Active</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45670
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>A1347
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade</span>B
						</div>
						<div class="product-cell Status">
							<span class="cell-label">Status</span>
							<span class="status active">Active</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45669
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>B2245
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade:</span>D
						</div>
						<div class="product-cell status-cell">
							<span class="cell-label">Status</span>
							<span class="status active">Active</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45668
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>A4523
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade</span>A
						</div>
						<div class="product-cell Status">
							<span class="cell-label">Status</span>
							<span class="status completed">Completed</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45667
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>B1345
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade:</span>C
						</div>
						<div class="product-cell status-cell">
							<span class="cell-label">Status</span>
							<span class="status active">Active</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45666
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>A4567
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade</span>B
						</div>
						<div class="product-cell Status">
							<span class="cell-label">Status</span>
							<span class="status active">Active</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45665
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>BDC72
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade:</span>A
						</div>
						<div class="product-cell status-cell">
							<span class="cell-label">Status</span>
							<span class="status active">Active</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45664
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>A5T76
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade</span>D
						</div>
						<div class="product-cell Status">
							<span class="cell-label">Status</span>
							<span class="status completed">Completed</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>

					<div class="products-row">
						<div class="product-cell Job ID">
							<span class="cell-label">Job ID</span>#45663
						</div>
						<div class="product-cell Case ID">
							<span class="cell-label">Case ID</span>GF756
						</div>
						<div class="product-cell Shade">
							<span class="cell-label">Shade:</span>A
						</div>
						<div class="product-cell status-cell">
							<span class="cell-label">Status</span>
							<span class="status active">Active</span>
						</div>
						<div class="product-cell Controls">
							<span class="cell-label">Controls</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!------------------------------------------------ Script file source mentioned --------------------------------------------------------------------------------------------------->
		<script src="./static/script/script_dashboard.js"></script>
	</body>
</html>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
